/*
    for allen:
    目前以比較複雜的 header-block 的第一、第二個區塊做為修正範例
    因部分區塊的特效目標深度不同(ex: #carousel-inner-0 *, #carousel-inner-1 i,#carousel-inner-1 div p...),
      為了簡化 css selector 覆寫程度，故在有特效的項目上增加 anime css class
    activePage0 為目前啟用頁籤編號為0, 原先顯示變消失的頁籤會先加上 invisible css class    
   */

   /* for myself activePage4 相關 css 暫不註解 html 部分註解  */

.animated-all,
.header-block .carousel-item.invisible .anime,
.header-block-fix .carousel-item.invisible.anime, {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both
}

.animated-01,
.activePage0 .header-block .co-ctrl,
.activePage0 .header-block .img0-ctrl,
.activePage1 .header-block .img1-ctrl,
.activePage2 .header-block .img2-ctrl,
.activePage2 .header-block .blue-ctrl {
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both
}

.animated-02,
.activePage0 .header-block .cr-ctrl,
.activePage1 .header-block #carousel-inner-1 p.anime,
.activePage2 .header-block .wc1-ctrl,
.activePage2 .header-block .wc2-ctrl,
.activePage2 .header-block .w770-ctrl,
.activePage2 .header-block .w545-ctrl,
.activePage2 .header-block .woman-btn-ctrl {
  -webkit-animation-duration: 1.25s;
  animation-duration: 1.25s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both
}

.animated-03,
.activePage0 .header-block .cg-ctrl,
.activePage1 .header-block #carousel-inner-1 h4.anime,
.activePage3 .header-block .img3-ctrl,
.activePage2 .header-block .w770-ctrl p.anime,
.activePage3 .header-block .news-ctrl,
.activePage4 .header-block .inner4-ctrl {
  -webkit-animation-duration: 1.75s;
  animation-duration: 1.75s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both
}

.animated-04,
.activePage0 .header-block .cg2-ctrl,
.activePage1 .header-block #carousel-inner-1 div.anime,
.activePage2 .header-block .w545-ctrl p.anime {
  -webkit-animation-duration: 2.25s;
  animation-duration: 2.25s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both
}

.animated-05,
.activePage2 .header-block .woman-btn-ctrl .btn,
.header-block-fix .anime {
  -webkit-animation-duration: 2.75s;
  animation-duration: 2.75s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both
}

@keyframes right-in-ctrl {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.right-in-ctrl,
.header-block-fix .anime,
.activePage3 .header-block .img3-ctrl,
.activePage4 .header-block .inner4-ctrl,
.activePage4 .header-block-fix .inner4-ctrl {
  animation-name: right-in-ctrl
}

@keyframes left-out-ctrl {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.left-out-ctrl,
.header-block-fix .carousel-item.invisible.anime,
.activePage3 .header-block .carousel-item.invisible .img3-ctrl,
.activePage4 .header-block .carousel-item.invisible .inner4-ctrl,
.activePage4 .header-block-fix .carousel-item.invisible .inner4-ctrl{
  animation-name: left-out-ctrl
}

@keyframes move-right-ctrl {
  0% {
    -webkit-transform: translateX(-80px);
    -ms-transform: translateX(-80px);
    transform: translateX(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;
  }
}

.move-right-ctrl,
.activePage0 .header-block .co-ctrl,
.activePage2 .header-block .wc2-ctrl {
  animation-name: move-right-ctrl
}

@keyframes out-right-ctrl {
  0% {
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-80px);
    -ms-transform: translateX(-80px);
    transform: translateX(-80px);
    opacity: 0;
  }
}

.out-right-ctrl,
.header-block .carousel-item.invisible .co-ctrl,
.header-block .carousel-item.invisible .wc2-ctrl {
  animation-name: out-right-ctrl
}

@keyframes move-left-ctrl {
  0% {
    -webkit-transform: translateX(50px);
    -ms-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;
  }
}

.move-left-ctrl,
.activePage0 .header-block .cg2-ctrl,
.activePage2 .header-block .wc1-ctrl,
.activePage3 .header-block .news-ctrl {
  animation-name: move-left-ctrl
}

@keyframes out-left-ctrl {
  0% {
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(50px);
    -ms-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0;
  }
}

.out-left-ctrl,
.header-block .carousel-item.invisible .cg2-ctrl,
.header-block .carousel-item.invisible .wc1-ctrl,
.activePage3 .header-block .carousel-item.invisible .news-ctrl {
  animation-name: out-left-ctrl
}

@keyframes move-top-ctrl {
  0% {
    -webkit-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
  }
}

.move-top-ctrl,
.activePage0 .header-block .cr-ctrl,
.activePage0 .header-block .cg-ctrl,
.activePage1 .header-block #carousel-inner-1 .anime,
.activePage2 .header-block #carousel-inner-2 .anime {
  animation-name: move-top-ctrl
}

@keyframes out-top-ctrl {
  0% {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }
}

.out-top-ctrl,
.header-block .carousel-item.invisible .cr-ctrl,
.header-block .carousel-item.invisible .cg-ctrl,
.header-block #carousel-inner-1.carousel-item.invisible .anime,
.header-block #carousel-inner-2.carousel-item.invisible .anime {
  animation-name: out-top-ctrl
}

@keyframes move-down-ctrl {
  0% {
    -webkit-transform: translateY(50px);
    -ms-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
  }
}

.move-down-ctrl,
.activePage0 .header-block .img0-ctrl,
.activePage1 .header-block #carousel-inner-1 .img1-ctrl,
.activePage2 .header-block #carousel-inner-2 .img2-ctrl {
  animation-name: move-down-ctrl
}

@keyframes out-down-ctrl {
  0% {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(50px);
    -ms-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
}

.out-down-ctrl,
.header-block .carousel-item.invisible .img0-ctrl,
.header-block #carousel-inner-1.carousel-item.invisible .img1-ctrl,
.header-block #carousel-inner-2.carousel-item.invisible .img2-ctrl {
  animation-name: out-down-ctrl
}
