h1,h2,h3,h4,h5,h6,li,p,span {
    color: #5465a2;
}

.animated:hover{
    -webkit-animation-duration:1s;
    animation-duration:1s;
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both
}

@-webkit-keyframes shake{
    0%,100%{
        -webkit-transform:translateX(0);
        transform:translateX(0)
    }
    10%,30%,50%,70%,90%{
        -webkit-transform:translateX(-10px);
        transform:translateX(-10px)
    }
    20%,40%,60%,80%{
        -webkit-transform:translateX(10px);
        transform:translateX(10px)
    }
}
@keyframes shake{
    0%,100%{
        -webkit-transform:translateX(0);
        -ms-transform:translateX(0);
        transform:translateX(0)
    }
    10%,30%,50%,70%,90%{
        -webkit-transform:translateX(-10px);
        -ms-transform:translateX(-10px);
        transform:translateX(-10px)
    }
    20%,40%,60%,80%{
        -webkit-transform:translateX(10px);
        -ms-transform:translateX(10px);
        transform:translateX(10px)
    }
}
.shake:hover{
    -webkit-animation-name:shake;
    animation-name:shake
}

@-webkit-keyframes bounce{
    0%,20%,50%,80%,100%{
        -webkit-transform:translateY(0);
        transform:translateY(0)
    }
    40%{
        -webkit-transform:translateY(-30px);
        transform:translateY(-30px)
    }
    60%{
        -webkit-transform:translateY(-15px);
        transform:translateY(-15px)
    }
}
@keyframes bounce{
    0%,20%,50%,80%,100%{
        -webkit-transform:translateY(0);
        -ms-transform:translateY(0);
        transform:translateY(0)
    }
    40%{
        -webkit-transform:translateY(-30px);
        -ms-transform:translateY(-30px);
        transform:translateY(-30px)
    }
    60%{
        -webkit-transform:translateY(-15px);
        -ms-transform:translateY(-15px);
        transform:translateY(-15px)
    }
}
.bounce{
    -webkit-animation-name:bounce;
    animation-name:bounce
}